/* MOBILE – ACCUEIL */
@media screen and (max-width: 768px) {
  header a, .menu a, nav a, .navigation a {
    display: block;
    font-size: 0.9rem;
    letter-spacing: 0.25em;
    text-align: left;
    margin: 8px 0;
    text-shadow: 0 0 5px #f0f0f0; /* halo léger */
  }
}
